.navigation-bar {
    background-color:#000000;
    overflow: hidden;
    width: 25%;
    img {
        width: 150px;
        margin-bottom: 20px;
    }
    .navigation-bar__main {
        border-bottom: 1px solid white;
        width: 100%;
    }
}